<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suomi.carinsurance.datasource.mysql.read.IEvaluationStatisticsReadMapper">

    <!-- 条目统计 -->
    <resultMap id="entryCount" type="java.util.HashMap">
        <result property="entry" column="entry" javaType="java.lang.Integer"/>
        <result property="count" column="count" javaType="java.lang.Integer"/>
    </resultMap>

    <!-- 车辆风险统计 -->
    <select id="vehicleRiskStatistics" resultMap="entryCount">
        SELECT COUNT(riskRating) AS count,riskRating AS entry FROM (SELECT ROUND(Rating,0) AS riskRating FROM total) AS tRating GROUP BY riskRating ORDER BY riskRating
    </select>

    <!-- 建议保险折扣统计 -->
    <select id="insuranceDiscountStatistics" resultMap="entryCount">
        SELECT COUNT(suggestedDiscount) AS count,suggestedDiscount AS entry FROM (SELECT ROUND((InsureDiscount/5)*100,0)*5 AS suggestedDiscount FROM total) AS tInsureDiscount GROUP BY suggestedDiscount ORDER BY suggestedDiscount
    </select>

    <!-- 欺骗风险统计 -->
    <select id="fraudRiskStatistics" resultMap="entryCount">
        SELECT COUNT(fraudRisk) AS count,fraudRisk AS entry FROM (SELECT ROUND(Fraud*100,0) AS fraudRisk FROM total) AS tFraud GROUP BY fraudRisk ORDER BY fraudRisk
    </select>

    <!-- 获取下拉列表数据 -->
    <select id="comboBoxAll" resultType="evaluationStatistics">
        SELECT base.GPS AS gpsId, base.ID AS vehicleId FROM total AS base
    </select>

    <!-- 通过查询条件获取评估统计数据列表 -->
    <select id="findAll" resultType="evaluationStatistics" parameterType="searchEvaluationStatistics">
        SELECT<include refid="baseField"/>,<include refid="speedLadder"/>,<include refid="accelerationLadder"/>,
        <include refid="decelerationLadder"/>
        FROM total AS base
        LEFT JOIN speed AS speed ON base.GPS=speed.GPS
        LEFT JOIN acc AS acc ON base.GPS=acc.GPS
        LEFT JOIN dcc AS decel ON base.GPS=decel.GPS
        <if test="gpsId!=null">WHERE base.GPS=#{gpsId}</if>
    </select>

    <!-- 通过查询条件获取评估统计数据 -->
    <select id="find" resultType="evaluationStatistics" parameterType="searchEvaluationStatistics">
        SELECT<include refid="baseField"/>,<include refid="speedLadder"/>,<include refid="accelerationLadder"/>,
        <include refid="decelerationLadder"/>
        FROM total AS base
        LEFT JOIN speed AS speed ON base.GPS=speed.GPS
        LEFT JOIN acc AS acc ON base.GPS=acc.GPS
        LEFT JOIN dcc AS decel ON base.GPS=decel.GPS
        <if test="gpsId!=null">WHERE base.GPS=#{gpsId}</if>
    </select>

    <!-- 评估统计基本数据 -->
    <sql id="baseField">
        base.GPS             AS gpsId,
        base.ID              AS vehicleId,
        base.PROV            AS province,
        base.CITY            AS city,
        base.GENDER          AS gender,
        base.AGE             AS age,
        base.CAR             AS vehicleDescription,
        base.COLOR           AS vehicleColor,
        base.REGDATE         AS regdate,
        base.CARVALUE        AS vehicleValue,
        base.NoTrip          AS tripCount,
        base.Time            AS duration,
        base.Miles           AS mileage,
        base.Rating          AS riskRating,
        base.RatingPerc      AS riskRatingProportion,
        base.InsureDiscount  AS suggestedDiscount,
        base.Fraud           AS fraudRisk,
        base.MAvgTime        AS monthAvgTime,
        base.MAvgMiles       AS monthAvgMileage,
        base.Dawn            AS earlyMorningProportion,
        base.AMRush          AS morningPeakProportion,
        base.Day             AS dayProportion,
        base.PMRush          AS evenignPeakProportion,
        base.Night           AS nightProportion,
        base.Time1Prob       AS drivingMoreThan1HoursProportion,
        base.Time2Prob       AS drivingMoreThan2HoursProportion,
        base.Time3Prob       AS drivingMoreThan3HoursProportion,
        base.Mile100Prob     AS drivingOver100KM,
        base.Mile200Prob     AS drivingOver200KM,
        base.Mile300Prob     AS drivingOver300KM,
        base.AvgSpeed        AS avgSpeed,
        base.90Speed         AS baseSpeed90,
        base.95Speed         AS baseSpeed95,
        base.99Speed         AS baseSpeed99,
        base.999Speed        AS baseSpeed999,
        base.SpeedPerc       AS avgSpeedProportion,
        base.AvgAccSpeed     AS avgAcceleration,
        base.90Acc           AS acceleration90,
        base.95Acc           AS acceleration95,
        base.99Acc           AS acceleration99,
        base.999Acc          AS acceleration999,
        base.AccPerc         AS avgAccelerationProportion,
        base.AvgDcc          AS avgDeceleration,
        base.90Dcc           AS deceleration90,
        base.95Dcc           AS deceleration95,
        base.99Dcc           AS deceleration99,
        base.999Dcc          AS deceleration999,
        base.DccPerc         AS avgDecelerationProportion,
        base.TimePerc        AS monthAvgTimeProportion,
        base.MilesPerc       AS monthAvgMileageProportion,
        base.Fatigue         AS fatigueDrivingProbability,
        base.FatiguePerc     AS fatigueDrivingProbabilityProportion
    </sql>

    <!-- 评估统计速度阶梯 -->
    <sql id="speedLadder">
        speed.Speed0     AS speed0,
        speed.Speed5     AS speed5,
        speed.Speed10    AS speed10,
        speed.Speed15    AS speed15,
        speed.Speed20    AS speed20,
        speed.Speed25    AS speed25,
        speed.Speed30    AS speed30,
        speed.Speed35    AS speed35,
        speed.Speed40    AS speed40,
        speed.Speed45    AS speed45,
        speed.Speed50    AS speed50,
        speed.Speed55    AS speed55,
        speed.Speed60    AS speed60,
        speed.Speed65    AS speed65,
        speed.Speed70    AS speed70,
        speed.Speed75    AS speed75,
        speed.Speed80    AS speed80,
        speed.Speed85    AS speed85,
        speed.Speed90    AS speed90,
        speed.Speed95    AS speed95,
        speed.Speed100   AS speed100,
        speed.Speed105   AS speed105,
        speed.Speed110   AS speed110,
        speed.Speed115   AS speed115,
        speed.Speed120   AS speed120,
        speed.Speed125   AS speed125,
        speed.Speed130   AS speed130,
        speed.Speed135   AS speed135,
        speed.Speed140   AS speed140,
        speed.Speed145   AS speed145,
        speed.Speed150   AS speed150,
        speed.Speed155   AS speed155,
        speed.Speed160   AS speed160,
        speed.Speed165   AS speed165,
        speed.Speed170   AS speed170,
        speed.Speed175   AS speed175,
        speed.Speed180   AS speed180,
        speed.Speed185   AS speed185,
        speed.Speed190   AS speed190,
        speed.Speed195   AS speed195,
        speed.Speed200   AS speed200,
        speed.Speed205   AS speed205,
        speed.Speed210   AS speed210,
        speed.Speed215   AS speed215,
        speed.Speed220   AS speed220,
        speed.Speed225   AS speed225,
        speed.Speed230   AS speed230,
        speed.Speed235   AS speed235,
        speed.Speed240   AS speed240,
        speed.Speed245   AS speed245,
        speed.Speed250   AS speed250,
        speed.Speed255   AS speed255,
        speed.Speed260   AS speed260,
        speed.Speed265   AS speed265,
        speed.Speed270   AS speed270,
        speed.Speed275   AS speed275,
        speed.Speed280   AS speed280,
        speed.Speed285   AS speed285,
        speed.Speed290   AS speed290,
        speed.Speed295   AS speed295,
        speed.Speed300   AS speed300
    </sql>

    <!-- 评估统计加速度阶梯 -->
    <sql id="accelerationLadder">
        acc.`Acc0.5`   AS acceleration0_5,
        acc.`Acc1`     AS acceleration1,
        acc.`Acc1.5`   AS acceleration1_5,
        acc.`Acc2`     AS acceleration2,
        acc.`Acc2.5`   AS acceleration2_5,
        acc.`Acc3`     AS acceleration3,
        acc.`Acc3.5`   AS acceleration3_5,
        acc.`Acc4`     AS acceleration4,
        acc.`Acc4.5`   AS acceleration4_5,
        acc.`Acc5`     AS acceleration5,
        acc.`Acc5.5`   AS acceleration5_5,
        acc.`Acc6`     AS acceleration6,
        acc.`Acc6.5`   AS acceleration6_5,
        acc.`Acc7`     AS acceleration7,
        acc.`Acc7.5`   AS acceleration7_5,
        acc.`Acc8`     AS acceleration8,
        acc.`Acc8.5`   AS acceleration8_5,
        acc.`Acc9`     AS acceleration9,
        acc.`Acc9.5`   AS acceleration9_5,
        acc.`Acc10`    AS acceleration10,
        acc.`Acc10.5`  AS acceleration10_5,
        acc.`Acc11`    AS acceleration11,
        acc.`Acc11.5`  AS acceleration11_5,
        acc.`Acc12`    AS acceleration12,
        acc.`Acc12.5`  AS acceleration12_5,
        acc.`Acc13`    AS acceleration13,
        acc.`Acc13.5`  AS acceleration13_5,
        acc.`Acc14`    AS acceleration14,
        acc.`Acc14.5`  AS acceleration14_5,
        acc.`Acc15`    AS acceleration15,
        acc.`Acc15.5`  AS acceleration15_5,
        acc.`Acc16`    AS acceleration16,
        acc.`Acc16.5`  AS acceleration16_5,
        acc.`Acc17`    AS acceleration17,
        acc.`Acc17.5`  AS acceleration17_5,
        acc.`Acc18`    AS acceleration18,
        acc.`Acc18.5`  AS acceleration18_5,
        acc.`Acc19`    AS acceleration19,
        acc.`Acc19.5`  AS acceleration19_5,
        acc.`Acc20`    AS acceleration20,
        acc.`Acc20.5`  AS acceleration20_5,
        acc.`Acc21`    AS acceleration21,
        acc.`Acc21.5`  AS acceleration21_5,
        acc.`Acc22`    AS acceleration22,
        acc.`Acc22.5`  AS acceleration22_5,
        acc.`Acc23`    AS acceleration23,
        acc.`Acc23.5`  AS acceleration23_5,
        acc.`Acc24`    AS acceleration24,
        acc.`Acc24.5`  AS acceleration24_5,
        acc.`Acc25`    AS acceleration25,
        acc.`Acc25.5`  AS acceleration25_5,
        acc.`Acc26`    AS acceleration26,
        acc.`Acc26.5`  AS acceleration26_5,
        acc.`Acc27`    AS acceleration27,
        acc.`Acc27.5`  AS acceleration27_5,
        acc.`Acc28`    AS acceleration28,
        acc.`Acc28.5`  AS acceleration28_5,
        acc.`Acc29`    AS acceleration29,
        acc.`Acc29.5`  AS acceleration29_5,
        acc.`Acc30`    AS acceleration30
    </sql>

    <!-- 评估统计减速度阶梯 -->
    <sql id="decelerationLadder">
        decel.`Dcc0.5`  AS deceleration0_5,
        decel.`Dcc1`    AS deceleration1,
        decel.`Dcc1.5`  AS deceleration1_5,
        decel.`Dcc2`    AS deceleration2,
        decel.`Dcc2.5`  AS deceleration2_5,
        decel.`Dcc3`    AS deceleration3,
        decel.`Dcc3.5`  AS deceleration3_5,
        decel.`Dcc4`    AS deceleration4,
        decel.`Dcc4.5`  AS deceleration4_5,
        decel.`Dcc5`    AS deceleration5,
        decel.`Dcc5.5`  AS deceleration5_5,
        decel.`Dcc6`    AS deceleration6,
        decel.`Dcc6.5`  AS deceleration6_5,
        decel.`Dcc7`    AS deceleration7,
        decel.`Dcc7.5`  AS deceleration7_5,
        decel.`Dcc8`    AS deceleration8,
        decel.`Dcc8.5`  AS deceleration8_5,
        decel.`Dcc9`    AS deceleration9,
        decel.`Dcc9.5`  AS deceleration9_5,
        decel.`Dcc10`   AS deceleration10,
        decel.`Dcc10.5` AS deceleration10_5,
        decel.`Dcc11`   AS deceleration11,
        decel.`Dcc11.5` AS deceleration11_5,
        decel.`Dcc12`   AS deceleration12,
        decel.`Dcc12.5` AS deceleration12_5,
        decel.`Dcc13`   AS deceleration13,
        decel.`Dcc13.5` AS deceleration13_5,
        decel.`Dcc14`   AS deceleration14,
        decel.`Dcc14.5` AS deceleration14_5,
        decel.`Dcc15`   AS deceleration15
    </sql>

</mapper>