<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <!--用户相关-->
        <typeAlias alias="user" type="com.suomi.carinsurance.model.statistics.User"/>

        <!-- 月度统计 -->
        <typeAlias alias="monthly" type="com.suomi.carinsurance.model.statistics.Monthly"/>
        <typeAlias alias="searchMonthly" type="com.suomi.carinsurance.search.statistics.SearchMonthly"/>

        <!-- 年度统计 -->
        <typeAlias alias="yearly" type="com.suomi.carinsurance.model.statistics.Yearly"/>
        <typeAlias alias="searchYearly" type="com.suomi.carinsurance.search.statistics.SearchYearly"/>

        <!-- 评估统计 -->
        <typeAlias alias="evaluationStatistics" type="com.suomi.carinsurance.model.statistics.EvaluationStatistics"/>
        <typeAlias alias="searchEvaluationStatistics"
                   type="com.suomi.carinsurance.search.statistics.SearchEvaluationStatistics"/>

        <!-- 各时间段出行平均 -->
        <typeAlias alias="allAvg" type="com.suomi.carinsurance.model.statistics.AllAvg"/>
        <typeAlias alias="searchAllAvg" type="com.suomi.carinsurance.search.statistics.SearchAllAvg"/>

    </typeAliases>

</configuration>