@charset "UTF-8";

.data_table {
    width: 100%;
}

th > span{
    color: #9e9e9e;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

button, .button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.75em;
    padding-right: 1.5em;
    padding-bottom: 0.8125em;
    padding-left: 1.5em;
    font-size: 1em;
    background-color: #2daebf;
    border-color: #238896;
    color: white;
}

/*Create Your Animation*/
@-webkit-keyframes greenPulse {
    from {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #91bd09;
        -webkit-box-shadow: 0 0 18px #91bd09;
    }
    to {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px #333;
    }
}

/*And Then Cue It Up*/
button.green.button {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

/*Create Your Animation*/
@-webkit-keyframes bluePulse {
    from {
        background-color: #1f7ed0;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #2b8ed0;
        -webkit-box-shadow: 0 0 18px #2b8ed0;
    }
    to {
        background-color: #1f7ed0;
        -webkit-box-shadow: 0 0 9px #333;
    }
}

/*And Then Cue It Up*/
button.blue.button {
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.button {
    margin-right: 0.5em;
    border-radius: 4px;
}