@charset "UTF-8";

.chart_container {
    min-width: 620px;
    height: 251px;
    margin: 0 auto;
}

.data_table {
    width: 100%;
    margin-bottom: 20px;
}

select, input {
    width: 172px;
}

.tb_align {
    margin-bottom: 10px;
}

.time_input {
    padding: 3px 4px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: "微软雅黑";
    font-weight: normal;
    cursor: pointer;
    vertical-align: middle;
}

.label {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 18px;
    color: rgba(88, 88, 88, 0.32);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(15, 15, 123, 0.07);
}

.label_spacing {
    margin-left: 8px;
    margin-right: 0px;
}

button, .button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.75em;
    padding-right: 1.5em;
    padding-bottom: 0.8125em;
    padding-left: 1.5em;
    font-size: 1em;
    background-color: #2daebf;
    border-color: #238896;
    color: white;
}

/*Create Your Animation*/
@-webkit-keyframes greenPulse {
    from {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #91bd09;
        -webkit-box-shadow: 0 0 18px #91bd09;
    }
    to {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px #333;
    }
}

/*And Then Cue It Up*/
button.green.button {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

/*Create Your Animation*/
@-webkit-keyframes bluePulse {
    from {
        background-color: #1f7ed0;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #2b8ed0;
        -webkit-box-shadow: 0 0 18px #2b8ed0;
    }
    to {
        background-color: #1f7ed0;
        -webkit-box-shadow: 0 0 9px #333;
    }
}

/*And Then Cue It Up*/
button.blue.button {
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.button {
    margin-right: 0.5em;
    border-radius: 4px;
}

input.Wdate {
    cursor: pointer;
}

