<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.suomi.carinsurance.web.service.impl"/>
    <!--用户相关操作-->
    <bean id="userService" class="com.suomi.carinsurance.web.service.impl.UserService"/>

    <!-- 评估统计 -->
    <bean id="evaluationStatisticsService" class="com.suomi.carinsurance.web.service.impl.EvaluationStatisticsService"/>

    <!-- 月度统计 -->
    <bean id="monthlyService" class="com.suomi.carinsurance.web.service.impl.MonthlyService"/>

    <!-- Excel -->
    <bean id="excelService" class="com.suomi.carinsurance.export.excel.ExcelService"/>

</beans>