<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <context:annotation-config/>
    <context:component-scan base-package="com.suomi.carinsurance.web.controller"/>
    <!--登陆-->
    <bean class="com.suomi.carinsurance.web.controller.UserController">
        <property name="service" ref="userService"/>
    </bean>

    <!-- <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" /> -->
    <bean class="com.suomi.carinsurance.web.controller.EvaluationStatisticsController">
        <property name="service" ref="evaluationStatisticsService"/>
    </bean>

    <!-- 车辆风险评级 -->
    <bean class="com.suomi.carinsurance.web.controller.VehicleRiskRatingController">
        <property name="service" ref="evaluationStatisticsService"/>
    </bean>

    <!-- 行驶趋势分析 -->
    <bean class="com.suomi.carinsurance.web.controller.TravelTrendAnalysisController">
        <property name="service" ref="monthlyService"/>
    </bean>

    <!-- 驾驶行为分析 -->
    <bean class="com.suomi.carinsurance.web.controller.DrivingBehaviorAnalysisController">
        <property name="service" ref="evaluationStatisticsService"/>
    </bean>

    <!-- 保险定价因子 -->
    <bean class="com.suomi.carinsurance.web.controller.InsurancePricingFactorController">
        <property name="excelService" ref="excelService"/>
        <property name="service" ref="evaluationStatisticsService"/>
    </bean>

    <!-- 车辆使用可视化 -->
    <bean class="com.suomi.carinsurance.web.controller.VehicleUseVisualizationController"/>

</beans>